body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Quicksand', sans-serif;
  background-color: #F7F4EE;
  color: #25201A;
}



.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100%;
  grid-template-areas: "header" "content" "sidebar";
  width: 100%;
  margin: 5vh auto;
  padding-bottom: 8vh;
}

aside {
  grid-area: sidebar;
  padding: 15px;
}

img {
  padding: 5px;
  border: 2px dashed #A59D92;
  width: 100%;
    max-width: 300px;
}

.content {
  grid-area: content;
}

header {
  grid-area: header;
}

.box {
  padding: 15px;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7F4EE;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: #25201A;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}


li a:hover {
  color: #A59D92;
}

a {text-decoration: none;
color: #25201A;}

a:hover {
  color: #A59D92;
}


* {
  box-sizing: border-box;
}
/*
main {
  width: 100%;
  max-width: 450px;
  margin: 5vh auto;
  padding-bottom: 8vh;
}
*/
section {
  margin-bottom: 8vh;
}

section * {
  margin-bottom: 20px;
}

.about {
  margin-bottom: 0;
}


.postcontent1 {
  float: none;
  margin-bottom: 25px;
}

.imageleft {
  margin-bottom: 25px;
  float: none;
}

.postcontent2 {
  float: none;
  margin-bottom: 25px;
}

.imageright {
  float: none;
  margin-bottom: 25px;
}

.image {
  margin-bottom: 15px;
  max-width: 300px;
}

.posts {width: 100%;}




.title {
  margin-bottom: 2vh;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  font-weight: 800;
  padding-left: 15px;
  color: #463B2E;
}

.subtitle {
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px dashed #A59D92;
  color: #463B2E;
}

p {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 5px;
  padding-left: 15px;
  max-width: 300px;
}



.description {
  max-width: 300px;
}

.supplies {max-width: 250px;
list-style: disc;}

.supplies li {
  list-style-type: disc;
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  space-between: 10px;
}

.container {
  position: relative;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}


/* /////////////////////////////////
COLOURS ////////////////////////////
////////////////////////////////////



*/

.color_1 {
  background: #1F4D2B;
}

.color_1:after {
  content: '#1F4D2B';
}

.color_2 {
  background: #7BA686;
}

.color_2:after {
  content: '#7BA686';
}

.color_3 {
  background: #463B2E;
}

.color_3:after {
  content: '#463B2E';
}

.color_4 {
  background: #937F69;
}

.color_4:after {
  content: '#937F69';
}

.color_5 {
  background: #25201A;
}

.color_5:after {
  content: '#25201A';
}

.color_6 {
  background: #F7F4EE;
}

.color_6:after {
  content: '#F7F4EE';
}

.color_7 {
  background: #A59D92;
}

.color_7:after {
  content: '#A59D92';
}

.color_8 {
  background: #515D54;
}

.color_8:after {
  content: '#515D54';
}

/* MOBILE (DEFAULT) STYLES */

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: 500;

}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
}



strong {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

em {
  font-family: 'Quicksand', sans-serif;
  font-weight: italic;
}

.link {}

.blockquote {
  padding-left: 50px;
  padding-right: 50px;
}

/* /////////////////////////////////
ELEMENTS ///////////////////////////
////////////////////////////////////


*/

/* MOBILE (DEFAULT) STYLES  */

.button_1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #1F4D2B;
}

.button_1:hover {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #7BA686;
}

.button_2 {
  padding: 10px 10px 10px 10px;
  (top, right, bottom, left) height: 40px;
  width: 120px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #1F4D2B;
  border-radius: 3px;
  transition: .2s;
  text-align: center;
}

.button_2:hover {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #7BA686;
}

.button_3 {
  padding: 10px 10px 10px 10px;
  (top, right, bottom, left) height: 40px;
  width: 120px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #463B2E;
  border-radius: 3px;
  transition: .2s;
  text-align: center;
}

.button_3:hover {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #937F69;
}

/* /////////////////////////////////
MEDIA QUERIES ///////////////////////////
////////////////////////////////////


*/


@media (min-width: 1000px) {
  .wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto 250px;
    grid-template-areas: "header header" "content sidebar";
    max-width: 1000px;
  }

  img {max-width: 300px;}

  .postcontent1 {
    float: left;
    margin-bottom: 80px;
  }

  .imageleft {
    margin-right: 80px;
    float: left;
  }

  .postcontent2 {
    float: right;
    margin-right: 80px;
    margin-bottom: 100px;
  }

  .imageright {
    float: right;
  }

  .posts::after, .postcontent1::after, .imageleft::after, .postcontent2::after, .imageright::after {
    float: none;
    clear: both;
    }

  .space {max-height: 0px;
    padding: 120px;}

    .bloglinks {
      margin-top: 75px;
      border-bottom: 2px dashed #A59D92;
    }
}
/*
@media (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1000px;
    grid-template-areas: "header" "content" "sidebar";
  }

  p {
    max-width: 450px;
  }
}
