body {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Quicksand', sans-serif;
  background-color: #F7F4EE;
  color: #25201A;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 75% 25%;
  grid-template-areas: "header header" "content sidebar";
}

aside {
  grid-area: sidebar;
  padding: 15px;
}

.about {
  margin-bottom: 0;

}

.postcontent1 {
  float: left;
  margin-bottom: 80px;
}

.imageleft {
  margin-right: 80px;
  float: left;
}

.postcontent2 {
  float: right;
  margin-right: 80px;
  margin-bottom: 100px;
}

.imageright {
  float: right;
}

.image {
  margin-bottom: 15px;
  max-width: 300px;
}



img {

  padding: 5px;
  border: 2px dashed #A59D92;
}

.content {
  grid-area: content;
}

header {
  grid-area: header;
}

.box {
  padding: 15px;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7F4EE;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}


li a:hover {
  color: #A59D92;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 450px;
  margin: 5vh auto;
  padding-bottom: 8vh;
}

section {
  margin-bottom: 8vh;
}

section * {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 2vh;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  font-weight: 800;
  padding-left: 15px;
  color: #463B2E;
}

.subtitle {
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px dashed #A59D92;
  color: #463B2E;
}

p {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 5px;
  padding-left: 15px;
}



.description {
  max-width: 300px;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  space-between: 10px;
}

.color_grid {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  width: 90px;
  height: 90px;
  position: relative;
  margin: 0 20px 50px 0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
}

.circle:after {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #bcbcbc;
  letter-spacing: 1px;
}


.container {
  position: relative;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}


/* /////////////////////////////////
COLOURS ////////////////////////////
////////////////////////////////////



*/

.color_1 {
  background: #1F4D2B;
}

.color_1:after {
  content: '#1F4D2B';
}

.color_2 {
  background: #7BA686;
}

.color_2:after {
  content: '#7BA686';
}

.color_3 {
  background: #463B2E;
}

.color_3:after {
  content: '#463B2E';
}

.color_4 {
  background: #937F69;
}

.color_4:after {
  content: '#937F69';
}

.color_5 {
  background: #25201A;
}

.color_5:after {
  content: '#25201A';
}

.color_6 {
  background: #F7F4EE;
}

.color_6:after {
  content: '#F7F4EE';
}

.color_7 {
  background: #A59D92;
}

.color_7:after {
  content: '#A59D92';
}

.color_8 {
  background: #515D54;
}

.color_8:after {
  content: '#515D54';
}

/* MOBILE (DEFAULT) STYLES */

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: 500;

}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 300;
}



strong {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

em {
  font-family: 'Quicksand', sans-serif;
  font-weight: italic;
}

.link {}

.blockquote {
  padding-left: 50px;
  padding-right: 50px;
}

/* /////////////////////////////////
ELEMENTS ///////////////////////////
////////////////////////////////////


*/

/* MOBILE (DEFAULT) STYLES  */

.button_1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #1F4D2B;
}

.button_1:hover {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #7BA686;
}

.button_2 {
  padding: 10px 10px 10px 10px;
  (top, right, bottom, left) height: 40px;
  width: 120px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #1F4D2B;
  border-radius: 3px;
  transition: .2s;
  text-align: center;
}

.button_2:hover {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #7BA686;
}

.button_3 {
  padding: 10px 10px 10px 10px;
  (top, right, bottom, left) height: 40px;
  width: 120px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #463B2E;
  border-radius: 3px;
  transition: .2s;
  text-align: center;
}

.button_3:hover {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #937F69;
}

/* /////////////////////////////////
MEDIA QUERIES ///////////////////////////
////////////////////////////////////


*/


@media (min-width: 800px) {
  main {
    max-width: 1000px;
  }
  .circle {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 0 20px 50px 0;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 500px;
    grid-template-areas: "header" "content" "sidebar";
  }

  p {
    max-width: 450px;
  }
}
